includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    # The level 8 is the highest level
    level: max

    excludePaths:
        - ./src/Overrides

    ignoreErrors:
        - '#Parameter (\#)(\d) \$callback of method Illuminate\\Container\\Container::call\(\) expects \(callable\(\): (.*)#'
        - '#Call to an undefined method SebastiaanLuca\\PipeOperator\\Pipe\|SebastiaanLuca\\PipeOperator\\PipeProxy(.*)#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
