includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    # The level 8 is the highest level
    level: max

    excludePaths:
        - ./src/Overrides

    ignoreErrors:
        - '#Parameter (\#)(\d) \$callback of method Illuminate\\Container\\Container::call\(\) expects \(callable\(\): (.*)#'
        - '#Cannot call method pipe\(\) on mixed.#'
        - '#(.*)getDependencies\(\) expects class\-string, string given\.#'
        - '#(.*)resolvePassedClass\(\) expects class\-string, class\-string\|object given\.#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
